body {
    font-family: 'Roboto', sans-serif;
    
}

a {
    color: #666666;
    letter-spacing: 1px;
}

a:hover {
    color: #666666;
}

.navbar a {
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: none;
}

.intro-text {
    text-align: center;
    font-size: 26px;
}

.btn-primary,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover {
    color: #666;
    background-color: #ecf0f3;
    border-color: #ecf0f3;
    box-shadow: rgb(209, 217, 230) 18px 18px 30px 0px, rgb(255, 255, 255) -18px -18px 30px 0px;
}

label.form-label {
    font-size: 18px;
}

.AdminDashboard__CategoryButtonWrapper .btn-primary,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover {
    color: #666;
    background-color: #ecf0f3;
    border-color: #ecf0f3;
    box-shadow: none;
    font-family: Roboto;
}

.AdminDashboard__FilterBar .btn-primary {
    margin-top: 35px;
}